body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

label {
  font-weight: bold;
}

.date-picker {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.date-picker-container{
  margin: 20px;
}

#generateBtn {
  padding: 10px 20px;
  font-size: 16px;
}